.Product_heading {
  text-align: center;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap:10px; /* Space between the items */
  margin: auto;
  max-width: 1200px;
}

.product-card {
  background: #fff;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px 10px;
}
.card-title{
    margin-top: 15px;
}
.card-text{
  margin-top: 15px;
}

.btn {
  margin-top: 10px;
}
.btn btn-primary{
  width: 100%;
}
.button-container {
  display: flex;
  /* background-color: #000000; */
  width: 100%;
  justify-content: center;
  gap: 10px;
}

