
.Logo {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 2rem ;
}

.Logo h1 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.nav_link {
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.link{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color:black;
    /* background-color: red; */
}
.icon{
    display: flex;
    gap:10px;
    position: relative;
}
.counter{
    position: absolute;
    top:-10%;
    left: 67px;;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color:white
}