.Carousel {
    width: 100%;
    /* background-color: black; */
}

.carouselItem {
    width: 100%;
    height: full;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(2, 1, 1), rgb(217, 0, 246) 50%,rgb(2, 1, 1));
}