.product-details-container {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.product-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.product-info-section {
  flex: 2;
}

.product-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-rating {
  color: #ff9f00;
  font-size: 18px;
  margin-bottom: 10px;
}

.rating-text {
  color: #555;
  font-size: 14px;
}

.product-description {
  font-size: 16px;
  color: #444;
  margin: 15px 0;
}

.product-price {
  font-size: 22px;
  color: #388e3c;
  margin-bottom: 20px;
}

.button-data {
  display: flex;
  gap: 15px;
}
.text_area{
    width: 100%;
    padding: 60px;

}
.input_field{
    width: 90%;
}
.send_btn{
    width: 100px;
    height: 30px;
    border:none;
    background-color: #388e3c;
    color: white;
    margin-left: 10px
}
